task2_automation_n8n/Task2_Workflow_Sukumar
{
  "name": "Crypto Market Digest Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f48784e9-f1ef-498d-b044-2ec344377e25",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=10&page=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "0ea5938a-e7fb-46c9-8fee-d8b1f51b646c",
      "name": "Get Top Crypto Coins"
    },
    {
      "parameters": {
        "jsCode": "return items.slice(0,5).map(item => {\nreturn {\njson: {\nname: item.json.name,\nsymbol: item.json.symbol,\nprice: item.json.current_price,\nchange_24h: item.json.price_change_percentage_24h\n}\n};\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "f0290e46-5911-488f-8745-bfd75d02a819",
      "name": "Filter Top 5 Coins"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/bitcoin",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "b2ebaffb-8ee5-483a-a706-6fce1dfd6b0d",
      "name": "Get Bitcoin Details"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eb46d3af-a878-47e8-9104-269b1eed0056",
              "leftValue": "={{ $json.market_data.price_change_percentage_24h }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "52e36043-6463-4268-87f3-2f802f5d4b78",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "2051989266",
        "text": "=⚠️ Crypto Alert  Bitcoin Current Price: ${{ $json.market_data.current_price.usd }}  24h Change: {{ $json.market_data.price_change_percentage_24h }}%",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -96
      ],
      "id": "13e5b2a4-9731-457c-8478-13b56a3e2241",
      "name": "Send a text message",
      "webhookId": "acfde4cc-3e82-4246-8b40-60de4bfc5579",
      "credentials": {
        "telegramApi": {
          "id": "iyu02HEOGvh93L3h",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Top Crypto Coins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Crypto Coins": {
      "main": [
        [
          {
            "node": "Filter Top 5 Coins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Top 5 Coins": {
      "main": [
        [
          {
            "node": "Get Bitcoin Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bitcoin Details": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dbbf6518-3236-4995-ae62-e5074010ac35",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f36f819fcc3b7949184e755c2fcd053eced3e07dd6c8e95622aaf0c682149f06"
  },
  "id": "GpZML7NCTthAqhvo",
  "tags": []
}
